/*----------NavBar------------*/
.navbar-inverse .navbar-brand {
    color: #6AB7F2;
}
.jumbotron{
	margin-top: 3%;
}
/*------------ Masonry ------------*/
.item {
    width: 20%;
}
/*-----------Caroussel--------------*/
.carousel {
/*position: relative;*/
	margin-top: 3%;
        margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*border: 1px solid grey;*/
	border-radius: 5px 5px 5px 5px;
	padding: 13px 13px 13px 13px;
	background-color: #222222;
	max-width: 100%;
}
.carousel img {
	width: 100%;
	height: 100%;
}
.carousel-inner {
	overflow: hidden;
	width: 100%;
}
.carousel-control {
	/*border-radius: 23px 23px 23px 23px;*/
	width: 40px;
}
.carousel li {
	list-style-type: none;
}
